*, html {
    margin: 0;
    text-decoration: none;
    list-style: none;
    user-select: none;
    /* font-family: sans-serif; */
}

.container {
    height: 60rem;
}

.header {
}

.header-page__wrapper {
    background-color: #ffffff;
    width: 1370px;
    height: 90px;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0;
}

.header-page__wrapper  > p {
    width: 270px;
    height: 60px;
    text-align: center;
    margin: auto;
}

.header-page__wrapper > p > img {
    width: 104px;
    height: 60px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}

.header-search {
    color: #333333;
    flex-basis: 0%;
    font-size: 16px;
    line-height: 20px;
    padding: 25px 0px 25px 30px;
    display: flex;
}

#inputSearchAuto {
    width: 495px;
    height: 40px;
    background-color: #ededed;
    border-radius: 4px 3px 3px 4px;
    color: #757575;
    display: inline-block;
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;
    padding: 0px 90px 0px 15px;
    border: none;
}

.insButton {
    width: 120px;
    height: 40px;
    align-items: flex-start;
    background-color: #e02027;
    border-radius: 4px;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 15px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.header-action {
    width: 310px;
    height: 40px;
    align-items: center;
    color:#333333;
    display:flex;
    flex-basis:310px;
    font-size: 16px;
    justify-content: flex-end;
    line-height:20px;
    padding: 25px 20px;
}

.header-action__account {
    width: 145px;
    height: 40px;
    align-items:center;
    color:#333333;
    display:flex;
    font-size:14px;
    line-height:20px;
    cursor: pointer;
}

.header-action__account > i {
    color: #7c7575;
    display: inline-block;
    font-size: 28px;
    line-height: 28px;
}

.header-action__account > .text > a:first-child {
    color:#7c7575;
    display:inline;
    font-size:13px;
    line-height:16.9px;
}

.header-action__account > .text > a:last-child {
    color:#7c7575;
    display:inline;
    font-family:Arial;
    font-size:14px;
    font-weight:700;
    line-height:18.2px;
}

.header-action__cart {
    align-items: center;
    color: #7c7575;
    display: flex;
    font-size: 16px;
    line-height: 20px;
    margin: 0px 0px 0px 25px;
    font-weight: bold;
    cursor: pointer;
}

.header-action__cart i {
    color: #CBCBCB;
    display: inline;
    font-size: 28px;
    line-height: 28px;
}

.header-action__cart .cart-count {
    top: -15px;
    right: 10px;
    border: 1px solid white;
    width: 22px;
    height: 22px;
    text-align: center;
    background: #d31311;
    position: relative;
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    z-index: 1;
}

.nav-sidebar {
    background: #fff;
    flex: 0 0 270px;
    position: relative;
}

.nav-sidebar__head {
    padding: 0;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background: #505050;
    border-radius: 4px;
    height: 35px;
    display: flex;
    align-items: center;
}

.nav-sidebar__head i {
    font-size: 22px;
    margin-right: 10px;
}

.nav-sidebar__dropdown {
    left: 0;
    background: #fff;
    z-index: 1000;
    border-radius: 0 0 5px 5px;
}

.nav-sidebar__dropdown ul {
    padding: 0;
}

.nav-sidebar__dropdown ul li {
    padding: 0 10px;
}

.nav-sidebar__dropdown ul li a {
    position: relative;
    display: flex;
    padding: 10px 5px;
    line-height: 1.5;
    align-items: center;
    width: 100%;
    transition: none;
    border-bottom: 1px solid #f2f2f2;
    /* background-color:#f5f5f5; */
    color:#222222;
    font-size: 16px;
}

.nav-sidebar__dropdown ul li a img {
    margin-right: 10px;
    max-width: 20px;
}

.nav-sidebar__dropdown ul li a span {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-navbar {
    height: 36px;
    flex: 1;
    background: #9f9f9f;
    border-radius: 4px;
    margin-left: 5px;
    padding: 0 10px;
}

.nav-navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 20px;
    /* flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal; */
}

.nav-navbar li {
    text-align: center;
    font-weight: normal;
}

.nav-navbar li a {
    position: relative;
    overflow: hidden;
    text-align: center;
    display: block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    backface-visibility: hidden;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    padding: .5rem 0;
}

.nav-navbar li a img {
    max-width: 22px;
    max-height: 22px;
    display: inline-block;
    vertical-align: middle;
}

.nav-navbar li a span {
    white-space: nowrap;
}

.slider {
    position: relative;
    top: -41.65rem;
    left: 17.1rem;
    flex: 0 0 calc(100% - 275px);
    max-width: calc(100% - 275px);
}

.slide-header {
    width: 730px;
    margin-right: 0px;
    float: left;
    margin-bottom: 4px;
    margin-right: 4px;

}

.slide-header img {
    width: 730px;
    height: 461px;
    border-radius: 4px;
}

.slide-header .remote-slide {
    position: absolute;
    top: 12rem;
    width: 730px;
}

.slide-header .remote-slide > * {
    font-size: 24px;
    color: #F4F8FA;
    padding: 1rem;
    cursor: pointer;
}

.slide-header .remote-slide > *:last-child {
    position: absolute;
    right: 0;
}

.banner-header {
    float: right;
}

.banner-header img {
    width: 362px;
    height: 195px;
    border-radius: 5px;
}

.banner-header-1 {
    
}   

.banner-header-1 img {
    width: 360px;
    height: 224px;
    border-radius: 5px;
    clear: both;
}

.main {
    position: relative;
    top: 1rem;
    width: 1370px;
    margin: auto;
    font-size: 16px;
    line-height: 20px;
    margin-top: 19px;
}

.title__cart {
    text-align: left;
}

.title__cart p {
    font-size: 24px;
    color: #333333;
    padding: 19px 0;
}

.content__cart {
    text-align: center;
    font-family: Arial;
}

.empty__cart {
    width: 480px;
    height: 233px;
}

.content__empty {
    font-size: 24px;
    color: #333333;
    padding: 19px 0;
}

.btn_empty {
    width: 250px;
    height: 42px;
    background-color: #e02027;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    padding: 10px 40px;
    cursor: pointer;
    transition: .3s linear;
}

.btn_empty:hover {
    background-color: #ffffff;
    color: #e02027;
    border: 1px solid #e02027;
    transition: .3s linear;
}

.header_list_cart {
    width: 903px;
    color: #333333;
    font-size: 16px;
    margin: 10px 0 15px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

.cart__product {
    width: 100px;
}

.cart__productName {
    width: 200px;
}

.cart__productPrice {
    width: 120px;
}

.cart__productAmount {
    width: 120px;
}

.cart__productTotal {
    width: 120px;
}

.cart__productRemove {
    width: 50px;
    margin-right: -20px;
}

.cart__box {
    width: 903px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #000;
    padding: 0 0 15px;
    margin: 0 0 15px;
}

.cart__box:last-child {
    border: none;
}

.cart__box * {
    text-align: left;
}

.image__cart {
    width: 100px;
    height: 100px;
}

.productName {
    width: 200px;
}

.productPrice {
    width: 120px;
    margin-right: -10px;
    color: #666666;
    font-size: 20px;
}

.productAmount {
    width: 50px;
    height: 30px;
    margin-right: 40px;
    text-align: center;
}

.productTotal {
    width: 120px;
    color: #666666;
    font-size: 20px;
    margin-right: -30px;
}

.delete__box {
    width: 45px;
    height: 25px;
    margin-right: 15px;
    text-align: center;
    background-color: inherit;
    border: none;
    transition: .3s linear;
}

.delete__box:hover {
    font-size: 24px;
    animation: delete__box__animation .75s ease-in-out;
}

@keyframes delete__box__animation {
    0% {
        transform: rotate(45deg);
    } 25% {
        transform: rotate(-45deg);
    } 50% {
        transform: rotate(45deg);
    } 75% {
        transform: rotate(-45deg);
    } 100% {
        transform: rotate(0deg);
    }
}

.option__box__cart {
    width: 440px;
    height: 230px;
    position: absolute;
    right: 0;
}

.top__option__box {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0;
}

.top__option__box * {
    color:#333333;
    font-family:Arial;
    font-size:14px;
    line-height:24px;
    margin:0px 0px 15px;
    text-align:right;
    font-size: 16px;
}

.value__total {
    font-size: 24px;
}

.bottom__option__box {
    display: flex;
    justify-content: space-between;
}

.comeback,
.checkout {
    width: 205px;
    height: 45px;
    border-radius:50px;
    font-family:Arial;
    font-size:14px;
    line-height:20px;
    margin:0px 8.725px 0px 0px;
    padding:10px 0px;
    text-align:center;
    text-transform:uppercase;
    border: 1px solid #e02027;
    transition: .3s linear;
}

.comeback {
    background-color:#e02027;
    color:#ffffff;
}

.comeback:hover {
    background-color:#ffffff;
    color:#e02027;
    transition: .3s linear;
}

.checkout {
    background-color:#ffffff;
    color:#e02027;
}

.footer {
    position: relative;
    top: 50px;
    width: 1370px;
    margin: auto;
    font-size: 16px;
    line-height: 20px;
    margin-top: 19px;
    background-color: #F4F8FA;
}



.shop_page__wrapper {
    width: 100%;
    background-color: #ffffff;
    padding: 43px 0;
}

.shop_page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shop_page h1 {
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: #333333;
    line-height: 22px;
    margin-bottom: 39px;
}

.line {
    width: 210px;
    margin: auto;
    border-bottom: 2px solid #000;
    position: absolute;
    top: 75px;
    left: 585px;
}

.shop_page_box {
    width: 320px;
    margin: 0 .6rem;
}

.title_shop_page {
    width: 100%;
    background-color: #8D0B0B;
    border-radius: 3px;
    padding: 4px 0;
}

.numerical {
    background-color: #505050;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    /* line-height: 27px; */
    text-align: center;
    padding: 5px 10px;
    border-radius: 3px 0 0 3px;
}

.content_title_shop {
    font-size: 16px;
    color: #ffffff;
}

.content_title_shop i {
    font-size: 8px;
    position: relative;
    top: -3px;
}

.content_shope_page {
    text-align: left;
    font-size: 16px;
    margin-top: 9px;
}

.content_shope_page * {
    padding: 3px 0;
}

.location {
    color: #222222;
    font-weight: 700;
    text-align: left;
}

.number_phone,
.working_time {
    color: #555555;
    text-align: left;
}